<h3 class="version"><%= @version.name %></h3>
<fieldset class="related-issues"><legend><%= l(:due_history) %></legend>
<% unless @due_history.empty? %>
  <div class="journal">
	  <% @due_history.each do |d| -%>
      <h4><%= l(:label_updated_time, time_tag(d.updated_at)) %>.</h4>
	    <ul>
	      <%unless d.old_due_date.blank?%>
	        <li>Changed from <%=d.old_due_date%> to <%=d.new_due_date%> ( <%= due_date_distance_in_words(d.old_due_date,d.new_due_date) %> )</li>
					<li>Reason: <%=d.reason%></li>
	      <%else%>
	        <li>Changed set to <%=d.new_due_date%></li>
	      <%end%>
	    </ul>
		<% end -%>
  </div>
<%else%>
<p>No changes in due date</p>
<% end %>
</fieldset>